@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

*{
    font-family: La Belle Aurore;
    color: white;
}
.App{
    position: relative;
    display: block;
    width: 100%;
}